@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

/*------- header style -----*/
header h1 a:hover,
header h1 a img:hover { opacity: 1; }

li a:hover { opacity: 0.5; }

.box img:hover,
a img:hover { 
  opacity: 0.5; 
  transition: opacity 0.6s;
  -webkit-transition: opacity 0.6s;
}

.join-box a:hover,
.fan-gallery a:hover { 
  text-decoration: underline; 
  transition: text-decoration 0.5s;
  -webkit-transition: text-decoration 0.5s;
}

.footer-nav li:hover { background-color: #fff; }
.footer-nav li:hover a{ color: #de2918; }

.nav li:hover a{ 
  color: #de2918; 
  transition: color 0.6s;
  -webkit-transition: color 0.6s;
}

.container { background-color: black; }
header { margin-bottom: 30px; }
a { display: inline-block; }

.header-top { 
  position: relative;
  background-color: #de2918;
}

.header-top-wrapper {
  width: 80%;
  margin: 0 auto;
}

.header-top h1 {
  position: absolute;
  top: 2px;
}

.border { width: 100%; }

.social { 
  margin: 13px 0px 14px 0px;
  float: right;
}

.nav { 
  margin-top: 18px;
  float: right;
}

.nav-wrapper {
  width: 80%;
  margin: 0 auto;
}

.nav li {
  margin-left: 20px;
  display: inline-block;
}

.nav li a {
  color:  #f7f7f7;
  font: 700 19px/34px 'Oswald';
  text-align: right;
  transform: scaleY(1.0015);
  text-transform: uppercase;
  text-decoration: none;
}

.nav li .active { color: #de2918; }

.main-wrapper {
  width: 80%;
  margin: 0 auto;
  background-color: white;
}

.main-heading {
  padding-left: 10px;
  background: url(../images/play-bg.png) no-repeat;
  background-size: 100% 100%;
}

h2{ 
  margin-left: 30px;
  display: inline-block;
  vertical-align: middle;
  color:  #232323;
  font: 700 30px/23px 'Oswald';
}

.play-btn {
  padding: 0px;
  border: 0px;
  outline: none;
  background: rgba(231, 77, 52, 0);
}

.main-content {
  width: 64%;
  margin-top: 15px;
  display: inline-block;
}

.main-content h2{ 
  border-bottom: 2px solid rgba(128, 128, 128, 0.4);
  margin: 10px;
  display: block;
  font: 700 50px/50px 'Oswald';
  text-transform: uppercase;
  letter-spacing: 2;
}

.main-content .box { margin-bottom: 21px; }
.box-content { border-bottom: 1px solid rgba(128, 128, 128, 0.4); }

.main-content .box .img-box {
  width: 45%;
  padding: 0px 3px 0px 10px;
  display: inline-block;
  vertical-align: top;
}

.main-content .box .img-box img{ width: 100%; }

.main-content .box .box-content {
  width: 50%;
  padding: 0px 5px;
  display: inline-block;
  vertical-align: top;
}

.main-content .box h3 {
  margin-bottom: 26px;
  color: #3f3e3e;
  font: 25px/26px 'PTSans';
  letter-spacing: 1.26px;
}

.main-content .box p { 
  margin-bottom: 26px;
  color:  #5d5d5d;
  font: 400 13px/21px 'Arial';
  letter-spacing: 0.26px;
}

.main-content .box .like-box {
  margin-right: 15px;
  display: inline-block; 
}

.social-like { margin-bottom: 6px; }

.comment {
  margin-right: 10px;
  display: inline-block;
  float: right;
}

.comment a {
  color:  #888888;
  font: 400 12px/23px Arial;
  text-decoration: none;
}

.page-number{ float: right;}
.pagination li { display: inline-block; }

.pagination { 
  padding-top: 8px;
  border-top: 2px solid rgba(128, 128, 128, 0.4);
  margin: 0px 2px 20px 8px; 
}

.pagination li a {
  padding: 4px;
  vertical-align: middle;
  color:  #3f3e3e;
  font: 700 17px/23px 'PTSans';
  transform: scaleY(1.0042);
  text-decoration: none;
}
.pagination li a img { 
  width: 100%;
  margin-bottom: 4px;
}

.pagination li .active { 
  background-color: #de2918;
  color: #fff;
}

.sidebar { 
  width: 34%;
  margin-top: 15px;
  display: inline-block;
  vertical-align: top;
}

.join-box { 
  padding: 18px 0px;
  margin-bottom: 10px;
  background: url(../images/join.png) no-repeat;
  background-size: 100% 100%;
  text-align: center;
}

.join-box h2 {
  margin: 0px;
  color:  #2b2b2b;
  font: 700 28px/23px 'Oswald';
}

.join-box a {
  color:  #de2918;
  font: 700 19px/23px 'PTSans';
  text-decoration: none;
}

.side-banner,
.border { 
  margin-bottom: 10px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.4); 
}

.side-banner img,
.fan{ 
  margin-bottom: 10px;
  text-align: center;
}

.side-banner img { width: 100%; }
.fan-gallery p { text-align: center; }
.fan img { width: 100%; }

.fan h2 {
  margin: 8px 0px;
  color:  #2b2b2b;
  font: 700 28px/23px 'Oswald';
  text-align: center;
  text-transform: uppercase;
}

.fan-gallery {
  background-color: #f2f2f2;
  padding: 20px;
}

.fan-gallery h3 {
  color:  #2b2b2b;
  font: 700 15px/19px 'OpenSans';
  text-align: center;
}

.fan-gallery p a{
  color:  #de2918;
  font: 700 35px/31px 'Oswald';
  text-align: center;
  text-decoration: none;
}

.main-bottom { 
  padding: 10px 10px 8px;
  margin-bottom: 10px;
  background-color: #de2918;
}

.footer-nav li {
  margin: 0px 6px;
  display: inline-block;
}

.footer-nav li a {
  color:  #f7f7f7;
  font: 700 17px/34px 'Oswald';
  text-align: right;
  transform: scaleY(1.0015);
  text-transform: uppercase;
  text-decoration: none;
}

.find-us,
.RCA,
.footer-nav { display: inline-block;}

.RCA { 
  margin-right: 20px;
  float: right; 
}

.find-us { margin-left: 6%; }

.find-us span {  
  color:  #f7f7f7;
  font: 700 19px/34px 'Oswald';
}
a{ display: inline-block; }

.find-us a { margin: 0px 6px; }

footer .footer-wrapper {
  width: 80%;
  padding-bottom: 10px;
  margin: 0 auto;
  text-align: center;
}

footer .footer-wrapper p {
  color:  #7a7a7a;
  font: 400 10px/19px 'Arial';
  letter-spacing: -0.2px;
}
footer .footer-wrapper p span,
footer .footer-wrapper p a {
  color:  #fff;
  font: 700 10px/19px 'Arial';
  text-decoration: none;
}
.nav span img { display: none; } 

@media screen and (max-width: 1080px){
  header h1{ width: 35% }
  header h1 img { width: 100%; }
  .nav-wrapper,
  .header-top-wrapper,
  .main-wrapper {
    width: 85%;
  }
}

@media screen and (max-width: 1024px){
  .main-content {
    width: 100%;
    display: block;
  }

  .sidebar {
    width: 100%;
    display: block;
  }

  .join-box h2,
  .join-box a { display: block; }
  .main-heading { min-height: 35px; }
  .main-heading .play { width: 5%;}
  .main-heading .play1 { width: 2.5%;}
  .main-heading button img{ width: 100%;}
}

@media screen and (max-width: 768px){
  .header-top h1 {
    width: 80%;
    float: right;
    position: static;
  }

  .nav span img { display: block; }

  header h1 img { width: 100%; }

  .social { display: none; }

  .nav ul {
    width: 100%;
    display: none;
    position: absolute;
    left: 0px;
    background-color: #de2918;
  }
  .nav { 
    width: 85%;
    position: absolute; 
    top: 10px;
  }
  .nav ul li { 
    margin: 0px;
    display: block;
    border-bottom: 1px solid #fff;
    text-align: center;
  }

  .nav:hover ul { display: block; }
  .nav ul li:hover { background-color: #fff; }
  .nav ul li:hover a { color: #de2918; }

  .main-wrapper{ width: 94%; }
  .main-content .box .img-box,
  .main-content .box .box-content {
    width: 90%;
    margin: 0 auto 15px;
    display: block;
  }
  .main-content .box .img-box { text-align: center; }

  .main-heading h2 { font-size: 6vw; }
  .footer-nav { display: none; }
  .nav-wrapper, 
  .header-top-wrapper, 
  .main-wrapper, 
  .nav { width: 94%; }
}



